.header{
	padding:14px 0;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.header .menu ul li{
	display:inline;
	margin-right:17px;
}
.header .menu ul li a{
	color:black;
	text-decoration:none;
	font-size:30px;
}
.header .menu{
	margin-top:35px;
}
.logo img{
	border-radius:13px;
}
body{
	background-color:navy !important;
}
.about img{
	margin-top:30px;
	border-radius:10px;
}
.aboutme{
	font-size:20px;
	margin-top:30px;
	margin-right:60px;
}
.img2{
	border-radius:;
}